## Project Overview

This project provides an in-depth analysis of Virat Kohli's T20 International career statistics from 2010 to 2024 using Excel. It includes detailed match-by-match performance data, high scores, and various performance metrics.

## Instructions for Use

1. Open the provided Excel files using Microsoft Excel or compatible spreadsheet software.
2. Review the data and visualizations presented in the different sheets.
3. Use the slicers and charts to explore various aspects of Kohli’s performance.

## Excel Functions Used

- `SUMIF`
- `SUMIFS`
- `COUNTIF`
- `COUNTIFS`
- `AVERAGEIF`
- `AVERAGEIFS`
- `VLOOKUP`

##Table used for chart

- `Pivot table`

## Visualizations

The project includes various charts such as:
- 3D Clustered Columns
- 2D Line with Markers
- 3D Pie Charts
- Doughnut Charts

These visualizations provide insights into Kohli’s performance trends, high scores, boundary counts, and more.


## Slicer 

Slicers are visual tools in Excel (and other spreadsheet software) that provide a user-friendly way to filter data in PivotTables, PivotCharts, and Excel tables. They enhance the interactivity and accessibility of data analysis by offering a visual interface for filtering.


